@use 'sass:map';
@use '../variables';

.jn-card {
  padding: 20px;
  border: 2px solid map.get(variables.$colors, "super-light-blue");
  color: map.get(variables.$text-colors, "base-text-color") !important;
  border-radius: 20px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  transition: all 0.2s ease-in-out;

  &:hover {
    transform: scale(1.025);
  }

  h2 {
    margin-top: 0;
  }

  :last-child {
    margin-bottom: 0;
  }

  .card-body {
    flex: 2;
  }
}