.button {
    --button-padding-x: 20px;
    --button-padding-y: 5px;

    display: flex;
    align-items: center;
    padding: var(--button-padding-y) var(--button-padding-x);
    box-sizing: border-box;
    min-width: 100px;
    width: fit-content;
    height: 50px;
    cursor: pointer;
    border: none;
    user-select: none;
}

.button.jn-bg-pop-blue:active {
    background-color: var(--dark-blue);
}

a.button, a.button:visited {
    color: var(--text-color);
}