.nav-hamburger {
    display: none;
    align-items: center;
    justify-content: center;
    font-size: 1.75rem;
    height: 40px;
    width: 40px;
    border: 1px solid var(--light-gray);
    border-radius: 5px;
}

@media only screen and (max-width: 600px) {
    .nav-hamburger {
        display: flex;
    }
}