:root {
    font-family: Arial, Helvetica, sans-serif;

    /* Site Colors */
    --orange: #FF9C00;
    --light-gray: lightgray;
    --gray: #666;
    --dark-gray: #333;
    --bg-gray: #272D33;
    --extra-light-blue: #60686e;
    --light-blue: #8AC8FF;
    --pop-blue: #0086FF;
    --dark-blue: #005EB3;
    --almost-black: #000f1b;

    --text-color: #FFFAFA;
    --box-shadow-color: rgba(0, 0, 0, 0.1);

    /* Logo Colors */
    --github-gray: #24292F;
    --linkedin-blue: #0077B5;

    /* shadow variables */
    --box-shadow-offset: 4px;
    --box-shadow-blur-radius: 6px;

    /* size variables */
    --header-height: 85px;
}

body, #root {
    min-height: 100vh;
    background-color: var(--bg-gray);
    color: var(--text-color)
}

main {
    min-height: calc(100vh - var(--header-height));
    width: 100%;
}

main>.jn-container {
    max-width: 1000px;
    width: 100%;
}

/* Headings */

h1:not(.header h1) {
    margin-left: 30px;
}

h3 {
    margin-left: 20px;
}

/* Links */
a:link, a:visited {
    text-decoration: none;
}

@media only screen and (max-width: 1800px) {
    main>.jn-container {
        max-width: 900px;
    }
}

@media only screen and (max-width: 1400px) {
    main>.jn-container {
        max-width: 800px;
    }
}

@media only screen and (max-width: 1200px) {
    main>.jn-container {
        max-width: 700px;
    }
}

@media only screen and (max-width: 1000px) {
    main>.jn-container {
        max-width: 550px;
    }
}

@media only screen and (max-width: 600px) {
    main>.jn-container {
        max-width: 350px;
    }
}

@media only screen and (max-width: 400px) {
    main>.jn-container {
        max-width: 300px;
    }
}