:root {
    font-family: Arial, Helvetica, sans-serif;

    /* Color Variables */
    --orange: orange;
    --light-gray: lightgray;
    --gray: gray;
    --dark-gray: dimgray;
    --text-color: black;
    --box-shadow-color: rgba(0, 0, 0, 0.1);

    /* shadow variables */
    --box-shadow-offset: 4px;
    --box-shadow-blur-radius: 6px;
}

body, #root {
    min-height: 100vh;
}