.box-shadow-top {
    box-shadow: 0 calc(-1 * var(--box-shadow-offset)) var(--box-shadow-blur-radius) var(--box-shadow-color);
}

.box-shadow-bottom {
    box-shadow: 0 var(--box-shadow-offset) var(--box-shadow-blur-radius) var(--box-shadow-color);
}

/* Size */
.w-fit-content {
    width: fit-content;
}

/* Border radius */
.border-r-10 {
    border-radius: 10px;
}

/* Background color */
.jn-bg-pop-blue {
    background-color: var(--pop-blue);
}

/* Font color */
.jn-font-sl-blue {
    color: var(--super-light-blue);
}

.jn-font-dark-gray {
    color: var(--dark-gray);
}

.jn-font-github-gray {
    color: var(--github-gray);
}

.jn-font-linkedin-blue {
    color: var(--linkedin-blue);
}

.jn-font-pop-blue {
    color: var(--pop-blue);
}

/* Font size */
.jn-font-xxl {
    font-size: 10em;
}

.jn-font-xl {
    font-size: 5em;
}

.jn-font-l {
    font-size: 2.5em;
}

.jn-font-m {
    font-size: 1.85em;
}

/* Lists */
.jn-no-bullets {
    list-style-type: none;
} 

/* dividers */

.divider-right {
    position: relative;
    padding-right: 30px;
}

.divider-right::after {
    position: absolute;
    content: '';
    height: 70%;
    top: 15%;
    right: 0;
    border: 1px solid rgba(0,0,0,0.1);
    border-radius: 1px;
}